/* VAR */
:root {
/* MARGINS */
  --margin: 1vw;
  --bottom-margin: 3vw;

  --font-size: 5vw;
  --grey: #97a0aa;
  --dark-grey: #333638;

  --purple: #D131EA;
  --green: #5BE56F;
  --blue: #4086FF;
  --yellow: #DCEB00;
  --red: #E11A00;
}

/* FONT */
@font-face {
  font-family: "Monotype Corsiva";
  src: url("assets/fonts/Monotype-Corsiva.ttf");
  font-weight:normal;
  font-style: normal;
  }

  @font-face {
    font-family: "Arialnarrow";
    src: url("assets/fonts/Arial-Narrow.ttf");
    font-weight:normal;
    font-style: normal;
    }

text, body {
  font-family: "Arialnarrow";
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* font-size: 0.2vw !important; */
}

#visualizion-container {
  width: 100%;
  height: 100%;
}

@keyframes noise {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(-20px, 0px);
  }
  75% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}

#visualization-container svg {
  max-width: 100%;
  max-height: 100%;
}

.blurred {filter: blur(5px); transition: filter 1s ease;}

.my-group {
  cursor: pointer;
  transition: filter 0.2s ease;
}

.my-group:hover .my-filter {
  filter: url(#inset-shadow) url(#inset-shadow2);
}

.my-filter {filter: url(#inset-shadow);
transition: filter 0.2s ease}

#multiply, .st24 {
  mix-blend-mode: multiply;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: var(--margin);
  overflow: hidden;
  background-color: var(--grey);
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  background-color: var(--dark-grey);
  color: white;
}

/* body.dark-mode .footer {
  color: white;
} */

.hidden-shape {
  display: none
}

.title {
  font-family: "Monotype Corsiva";
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.footer {
  position: fixed;
  bottom: var(--margin);
  z-index: 50;
  font-size: 2.5vw;
  line-height: 2.5vw;
}

#title {
  left: 23%;
}

#about {
  right: 20%;
  cursor: pointer;
}

#intro-container, {
  position: absolute;
  z-index: 100;
  text-align: center;
  transition: opacity 0.2s ease;
}

#intro-overlay, #about-container {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: rgba(151, 160, 170, 0.8);
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-color: rgba(64, 134, 255, 0.5) */
}

#about-container {
  z-index: 10;
}

#intro-message {
  position: absolute;
  top: 50%; left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  /* background-color: white; */
  /* padding: calc(var(--margin)*2); */
  /* border-radius: calc(var(--margin)*2); */
  /* box-shadow: inset 0 0 var(--margin) var(--dark-grey); */
}

#intro-message .title, #about-container {
  font-size: 4vw;
  line-height: 4vw;
}

#intro-message div {

}

#unlock {
  font-size: 1.5vw;
}

/* UNLOCKER */
  .outer {
  height: 10vh;
  width: 20vw;
  background-color: red;
  margin: calc(var(--margin)/2) auto;
  border-radius: 5vh;
  padding:calc(var(--margin)/3);
  background-color: var(--yellow);
    /* background-color: #444; */
  box-shadow: inset 0 0 20px var(--dark-grey);
}

.inner {
  height: 100%;
  width: 6vw;
  /* background-color: white; */
  background-color: white;
  border-radius: 5vh;
  cursor: pointer;
box-shadow: inset 0 0 20px var(--grey);
}

.drop-point {
  height: 100%;
  width: 6vw;
  float: right;
}

.success {
  background-color: #22EC73;
}
/*
.my-filter {
  fill: var(--random-color)
} */

/* COLORI VARIATI */
	.st0.recolored {fill: var(--green);}
	.st4.recolored {fill: var(--yellow);}
	.st5.recolored {fill: var(--red)}
	.st6.recolored {fill: var(--purple);}
	.st7.recolored {fill: var(--blue);}

  #about-container {
    padding: var(--margin);
    text-align: left;
    width: 90%;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

#about-container.closed {
display: none;
opacity: 0;
}
